@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.todo-creator{
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: auto;
  margin-top: 15px;

  * {
    margin: 5px;
  }

  h1 {
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 255, 1);
    font-size: 3rem;
    text-align: center;
  }

  input {
    height: 2rem;
    align-content: center;
    font-size: 1.25rem;
  }

  button {
    width: 10rem;
    height: 2.5rem;
    margin: auto;
    font-size: 1.25rem;
    border-radius: 10px;
    border: 2px rgba(0, 0, 255, 0.4) solid;
    background-color: rgba(0, 0, 255, 0.15);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 255, 0.4);
      color: white;
    }
  }
}